h1{
    font-size: 100px;
}
h2{
    background-color:lightblue
}
h2{
    font-size: 1em;
    background-color:lightcoral;
    
}
h3{
    background-color: pink;
}
header{
    text-align: center;
}
h6{
    text-align:justify;
    font-size: 16px;
}